.first-text-container, .second-text-container{
    border:1px solid black;
    margin-bottom:5px;
    padding:5px;
    border-radius: 4px;
    overflow: scroll;
    height:250px;
    width:800px;
    position:relative;
    top:10px;
    left:50px;
    
}