.first-text-container, .second-text-container{
    border:1px solid black;
    margin-bottom:5px;
    padding:5px;
    border-radius: 4px;
    overflow: scroll;
    height:250px;
    width:800px;
    position:relative;
    top:10px;
    left:50px;
    
}

.box-model{
    height:300px;
    width:200px;
    background-color: purple;
    border:6px solid black;
    margin-top:100px;
    margin-left:50px;
    color:#ffffff;
    padding-top:30px;
    padding-left:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}